
<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" type="text/css" href="loginevent.component.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
          </head>


<body>
  <div class="wrapper">
    <h1>Event Management        Booking</h1>
     <nav>
        
    
          <div class="container"> 
            <!-- Example row of columns -->
            <div class="row">
       
              <div class="col-md-4 col-sm-4 col-xs-6"> <a routerLink="eventbooking" class="btn btn-sm animated-button thar-four">Book Now</a> </div>
              <div class="col-md-4 col-sm-4 col-xs-6"> <a routerLink="profile" class="btn btn-sm animated-button thar-five">Profile</a> </div>
              <div class="col-md-4 col-sm-4 col-xs-6"> <a routerLink="header" class="btn btn-sm animated-button thar-four">Logout</a> </div>

            </div>
          </div>

          <!-- <label for="register" class="register"><a href="#"><i class="far fa-register"></i>register</a></label> -->
          <!-- <label for="about" class="about"><a href="#"><i class="far fa-user"></i>About</a></label> -->
          <div class="tab"></div>
       </nav>
    </div>
    
    
    </body>

    </html>
    
          
    
    <body>
      <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
      </div>
      <div id="content" #content>
       <form  #bookForm="ngForm"  (ngSubmit)="registerEvent(bookForm.value)">
     
        <label for="event-type">Select Event Type:</label>
        <div class="clr">
         <select id="event-type" name="eventType" ngModel>
          <option value="marriage">Marriage</option>
          <option value="birthday">Birthday</option>
          <option value="conference">conference</option>
          <option value="Engagement">Engagement</option>
          <option value="Reception">Reception</option>
          <option value="Diwali">Diwali</option>
          <option value="Sankranti">Sankranti</option>
         </select>
        </div>
        
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" ngModel>
        

        <label for="mobileNumber">Number:</label>
        <input type="tel" id="number" name="number" ngModel>
        
        <label for="date">Date:</label>
        <input type="date" id="date-input" [min]="minDate" name="date" ngModel>
        <!-- <button (click)="futureDateDisable()">Set max date</button> -->
        
        <label for="time">Time:</label>
        <input type="time" id="time" name="time" ngModel>
        
        <!-- <label for="location">Location:</label>
        <input type="text" id="location" name="location" ngModel> -->
    
        <label for="location">Select Eventhall & Location:</label>
        <div class="clr">
         <select id="event-location" name="location" ngModel>
          <option value="Vaaraahi Banquets and Conference Center">Vaaraahi Banquets and Conference Center,Hyderabad</option>
          <option value="Ashiana Banquet And Conference">Ashiana Banquet And Conference,Secunderabad</option>
          <option value="Poorna Konvention - Banquet & Convention Hall">Poorna Konvention - Banquet & Convention Hall,Medak</option>
          <option value="LA ROYALE BANQUET HALL">LA ROYALE BANQUET HALL,Warangal</option>
         </select>
        </div>
        
        <label for="guests">Number of Guests:</label>
        <input type="number" id="guests" name="guests" ngModel>

        
        
        <input type="submit" value="Submit">
    
       
      </form>
      <style>    
        body {    
          height: 900px;  
          
        background-image:  url("assets/logback.jpg");  
        }  
        </style>
    </div>
          
    </body>
   





